@import "../../../scss/Variables.scss";

.manifest {
    max-width: 43%;
}

.h3Text {
  font-size: $font-size-h4;
  font-weight: $font-weight-bold;
}

.h4Text {
  font-size: $font-size-h5;
}

.manifest p {
  margin-bottom: 1.75rem;
}
