@import "../../../scss/Variables.scss";

.button{
    width: 27rem;
    height: 3.9rem;
    border-radius: 5rem;
    font-family:$font-family-title; 
    font-size: $font-size-h5;
    font-weight: $font-weight-semibold;
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        transform: scale(0.97);
    }
    
    @media (max-width:720px) {
        font-size: $font-size-h6;
    }
}