@import "../../../scss/Variables.scss";

.cardSectionContainer {
  @include flex_center;
  justify-content: center;
  gap: 4.5rem;
  flex-direction: row;
  padding: 1.5rem;
  width: 100%;
  height: auto;
}

.sectionCard {
  @include flex_center;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 10rem;
  text-align: center;
  cursor: pointer;
  background-color: $dark;
  border-radius: 1rem;
  border: none;
  position: relative;

  &.selected::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    outline: 1rem solid white;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.sectionImage {
  width: 5rem;
  height: 5rem;
}

.sectionCardTitle {
  margin-top: 1rem;
  @include card-title;
  color: $white;
  
}

.sectionLink{
    text-decoration: none
}
