@import '../../../scss/Variables.scss';

.secctionTabContainer {
 display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start; 
}

.secctionTab{
  font-family: $font-family-title;
  font-weight: $font-weight-regular;
    background-color:$lila; 
    color: $white;
    padding: 0.62rem 0.75rem;
    border-radius: 0.75rem 0.75rem 0 0; 
   display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: auto;
    margin-right: 24.5%;
    &:hover {
      background-color: #5a63d8; 
    }
  }
  .underlineTab {
    width: 100%;
    height: 0.06rem;
    background-color: #736DB3; 
    position: absolute;
    bottom: -1px;
    left: 0;
  }
 


  