@import "../../../scss/Variables.scss";

.search-container {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.search {
  position: relative; 
  display: flex;
  align-items: center; 
  background-color: rgba(199, 237, 247, 1); 
  border-radius: 20px;
  padding: 0 15px;
  width: 20rem; 

  .search-icon {
    position: absolute; 
    left: 10px; 
    color: $dark; 
  }

  .styled-input-base {
    padding-left: 40px; 
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: $dark; 
    
   
  }
}
