@import "../../../scss/Variables.scss";

.search-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #a7a8ec; 
  border-radius: 20px;
  padding: 5px 15px;
  width: 20rem; 
  text-transform: capitalize;

  input {
    background-color: transparent;
    border: none;
  }
  .search-icon {
    position: absolute;
    left: 10px; 
    color: $dark; 
    fill: $dark ;
  }
  .styled-input-base {
    padding-left: 40px; 
    color: $dark; 
    width: 100%; 
    background-color: transparent;
    border: none;

    &::placeholder {
      color: $dark;
    }
    &:focus {
      outline: none;
    }
  }
}
