@import "../../../scss/Variables.scss";

.popUpInteractive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #c9cdf3, $alpha: 0.5);
  z-index: 1000;

  .popUpContent {
    background-color: $white;
    padding: 2.5rem;
    border-radius: 1.25rem;
    width: 80%;
    max-width: 70rem;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 20px #0000001a;
    color: $dark;

    .titleAndDateContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 3.12rem;
      font-family: $font-family-title;
      font-weight: $font-weight-semibold;

        .dateAndTime {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 0.31rem;
          padding-top: 1rem;
        }

        .popUpDate {
          font-size: 1.56rem;
        }
        .popUpTime {
          margin: 0;
          font-size: 1rem;
        }

        .popUpModality {
          text-align: left;
          font-weight: $font-weight-bold;
          font-size: 1.15rem;
        }
    }

    .popUpContentClose {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      background: none;
      border: none;
      cursor: pointer;

      .popUpCloseIcon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .titlePopUp {
      font-family: $font-family-title;
      font-size: $font-size-h3;
      font-weight: $font-weight-bold;
      margin-bottom: 1.25rem;
      text-align: left;
      padding-bottom: 0.5rem;
      margin: 0;
    }

    .popUpContentTitle {
      font-family: $font-family-title;
      text-align: left;
    }

    .popUpPosition {
      font-family: $font-family-text;
      font-size: 1.25rem;
      text-align: left;
    }

    .popUpContentText {
      font-weight: $font-weight-bold;
      font-family: $font-family-text;
      font-size: 1.25rem;
      text-align: left;
      padding-bottom: 0.93rem;
    }

    .popUpContentBody {
      margin-top: 1.25rem;

      .popUpContentBodyText {
        font-family: $font-family-title;
        font-size: 1rem;
        line-height: 1.6;
        color: black;
        margin-bottom: 1.25rem;
        text-align: justify;
      }

      .popUpPosition {
        font-weight: $font-weight-bold;
        font-family: $font-family-text;
        color: $dark;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        text-align: left;
      }
    }


    .popUpLocationValue {
      font-family: $font-family-text;
      text-align: left;
      color: black;
      padding-bottom: 0.93rem;
    }

    .popUpLocationTitle {
      font-family: $font-family-text;
      text-align: left;
    }

    .contentText {
      color: $dark;
      font-size: 1.25rem;
    }
    .contentContact {
      font-family: $font-family-text;
      font-size: 0.93rem;
      text-align: left;
      color: black;
    }

    .popUpTypeText {
      text-align: left;
      font-family: $font-family-text;
      font-size: 1.25rem;
      padding-bottom: 0.93rem;
    }

    .popUpEventDateTime {
      text-align: right;
      padding-right: 2.5rem;
      }

     /*.popUpButton {display: flex; justify-content: center; }*/
  }
}
