@import '../../scss/Variables.scss';

.aboutUsContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1.5rem; 
    max-width: 83rem;
    margin: auto;
  
  }
  
  .aboutUsTitle {
    font-family: $font-family-title;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    color: $dark;
    text-align: center;
    position: relative; 
    margin-bottom: 3rem;
  
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 35%;
        height: 0.01rem;
        background-color: $dark;
        transform: translateX(5%);
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 35%;
        height: 0.01rem;
        background-color: $dark;
        transform: translateX(-5%);
    }
  }
  
  .textAboutUs {
    font-family: $font-family-text;
    font-size: $font-size-h5;
    font-weight: $font-weight-regular;
    color: $dark;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem; 
    line-height: 2rem;
    margin: auto;

  }