.calendarContainer {
  width: 10rem;
  @media (max-width: 480px) {
    width: 100%;
    // margi
  }
}

.rbc-month-view {
  @media (max-width: 480px) {
    display: none;
  }
}

.calendarStyle {
  @media (max-width: 480px) {
    display: none;
  }
}
