@import "../../scss/Variables.scss";

.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  max-width: 90rem;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  font-family: $font-family-title;
  padding: 1rem 0;
  margin-bottom: 2rem;

  .navbarToolbar {
    @include flex_center;
    justify-content: space-around;
  }

  .logoContainer {
    @include flex_center;
    width: 10%;

    .logo {
      width: 90%;
      height: 5rem;
    }

    .logofemsenior {
      width: 100%;
    }
    @media (max-width: 480px) {
      width: 30%;
      z-index: 1000;
    }
  }

  .linksContainer {
    width: 30%;
    gap: 1.875rem;
    @include flex_center;

    @media (max-width: 1400px) {
      width: 50%;
      gap: 0.5rem;
    }

    @media (max-width: 480px) {
      display: none;
    }

    .navLink {
      @include navLink-style;

      &:hover,
      &:active {
        @include navLink-style-hover;
      }

      @media (max-width: 1200px) {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
      }
    }

    a:-webkit-any-link {
      text-decoration: none !important;
    }

    .dropdown {
      position: relative;

      .navLink {
        color: $dark;
        font-size: $font-size-h5;
        padding: 0.5rem 1.5rem;

        &:hover,
        &:focus {
          @include navLink-style-hover;
        }
      }

      &:hover,
      &:focus-within {
        .navLink {
          @include navLink-style-hover;
        }

        .dropdownMenu {
          display: inline-block;
        }
      }

      .dropdownMenu {
        width: 100%;
        display: none;
        position: absolute;
        top: 115%;
        left: 0;
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
        z-index: 100;
        border-radius: 0 0 0.5rem 0.5rem;
        list-style: none;
        padding: 1rem 0.5rem;

        li {
          padding: 0.8rem;
          font-weight: $font-weight-regular;
          font-size: 1rem;
          text-decoration: none !important;

          &:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .authButtons {
    width: 25%;
    @include flex_center;
    justify-content: flex-end;
    gap: 15px;
    text-transform: capitalize;
    flex-wrap: nowrap;

    @media (max-width: 480px) {
      display: none;
    }
  }

  .searchContainer {
    width: 20%;
    @include flex_center;

    @media (max-width: 480px) {
      display: none;
    }
  }

  /* Botón de menú hamburguesa */
  .menuButton {
    display: none;

    @media (max-width: 480px) {
      display: block;
      margin-left: auto;
      color: $dark;

      svg {
        font-size: $font-size-h1;
      }
    }
  }
  a:-webkit-any-link {
    text-decoration: none !important; /* Elimina el subrayado */
    cursor: pointer;
  }
  .drawerLinks {
    width: 100%; /* Asegurar que los enlaces ocupen todo el ancho */
    display: flex;
    flex-direction: column; /* Poner los enlaces en columna */
    gap: 1rem; /* Espacio entre los enlaces */
    padding: 0.25rem 0;
    list-style: none !important;
    text-decoration: none !important;

    .navLinkBurger {
      color: $dark; /* Color de los enlaces */
      border: none !important; /* Quita cualquier borde inferior que pueda parecer un subrayado */
      box-shadow: none !important; /* Elimina cualquier sombra que pudiera parecer un subrayado */

      &:hover,
      &:active,
      &:focus {
        text-decoration: none !important; /* Asegura que no haya subrayado en hover, active, o focus */
        border: none !important; /* Elimina cualquier borde en hover, active, o focus */
        box-shadow: none !important; /* Elimina cualquier sombra en hover, active, o focus */
      }
    }
  }

  .logout-icon {
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      transform: scale(1.1);
    }

    .logo-icon-img {
      width: 2.5rem;
      fill: $dark;
    }
  }
}

.femseniorNavbar {
  .navLink {
    color: white;
    text-transform: capitalize;
    font-size: $font-size-h5;
  }
}

.reversoNavbar {
  .search {
    @include search-transparent;

    .searchIcon {
      @include search-icon-transparent;
    }

    input {
      @include transparent-background;
    }
  }
}

.loginNavbar {
  @extend .femseniorNavbar;

  .search {
    @include search-transparent;

    .searchIcon {
      @include search-icon-transparent;
    }

    input {
      @include transparent-background;
    }
  }

  .authButtons {
    visibility: hidden;
    pointer-events: none;
  }
}
