@import "../../scss/Variables.scss";

.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  font-family: $font-family-title;
  margin: 1rem 0;
  margin-bottom: 2rem;

  .navbarToolbar {
    @include flex_center;
    justify-content: space-around;
  }

  .logoContainer {
    @include flex_center;
    width: 10%;
    .logo {
      width: 90%;
      height: 80px;
      margin-right: 20px;
    }
  }

  .linksContainer {
    width: 30%;
    gap: 30px;
    @include flex_center;

    .navLink {
      @include navLink-style;

      &:hover,
      &:active {
        @include navLink-style-hover;
      }
    }

    a:-webkit-any-link {
      text-decoration: none !important;
    }

    .dropdown {
      position: relative;

      .navLink {
        color: $dark;
        font-size: $font-size-h5;
        padding: 0.5rem 1.5rem;

        &:hover,
        &:focus {
          @include navLink-style-hover;
        }
      }

      &:hover,
      &:focus-within {
        .navLink {
          @include navLink-style-hover;
        }

        .dropdownMenu {
          display: inline-block;
        }
      }

      .dropdownMenu {
        width: 100%;
        display: none;
        position: absolute;
        top: 90%;
        left: 0;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        z-index: 100;
        border-radius: 8px;
        list-style: none;

        li {
          padding: 10px 20px;
          font-weight: $font-weight-regular;
          font-size: 15px;
          text-decoration: none !important;

          &:hover {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .authButtons {
    width: 25%;
    @include flex_center;
    justify-content: flex-end;
    gap: 15px;
    text-transform: capitalize;
    flex-wrap: nowrap;
  }
}

.logout-icon {
  border: none;
  cursor: pointer;
  background-color: transparent;
  &:hover {
    transform: scale(1.1);
  }
  .logo-icon-img {
    width: 2.5rem;
    fill: $dark;
  }
}

.femseniorNavbar {
  .navLink {
    color: white;
    text-transform: capitalize;
    font-size: $font-size-h5;
  }
}

.reversoNavbar {
  .search {
    @include search-transparent;

    .searchIcon {
      @include search-icon-transparent;
    }

    input {
      @include transparent-background;
    }
  }
}

.loginNavbar {
  @extend .femseniorNavbar;

  .search {
    @include search-transparent;

    .searchIcon {
      @include search-icon-transparent;
    }

    input {
      @include transparent-background;
    }
  }

  .authButtons {
    visibility: hidden;
    pointer-events: none;
  }
}
