@import "../../scss/_Variables.scss";

.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  display: flex;
  height: 80px;
  font-family: $font-family-title;
  margin: 1rem 0;

  .navbar-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 10%;
    .logo {
      width: 90%;
      height: 80px;
      margin-right: 20px;
    }
  }

  .links-container {
    width: 15%;
    display: flex;
    gap: 30px;
    align-items: center;
    .nav-link {
      font-size: 16px;
      color: $dark;
      text-decoration: none;
      font-size: $font-size-h6;
      font-weight: $font-weight-semibold;

      &:hover {
        background-color: $lila;
        color: white;
      }
      &:active {
        font-size: $font-size-h6;
        font-weight: $font-weight-semibold;
      }
    }

    .dropdown {
      position: relative;
      .nav-link {
        color: $dark;

        font-size: $font-size-h6;
      }
      .dropdown-menu {
        font-weight: $font-weight-regular;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
        padding: 10px 0;
        border-radius: 8px;

        li {
          padding: 10px 20px;
          cursor: pointer;
          &:hover,
          &:focus {
            background-color: $lila;
            color: white;
            text-decoration: none;
          }
        }
      }
      &:hover .dropdown-menu {
        display: inline-block;
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 20rem;
      border-radius: 20px;
      padding: 5px 15px;
      background-color: rgba(199, 237, 247, 1);
      color: $dark;
      &:focus {
        outline: none;
      }
    }
  }

  .auth-buttons {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;

    .nav-link {
      text-decoration: none;
    }
    .nav-button {
      background-color: $purple;
      color: #fff;
      border-radius: 60px;
      padding: 8px 20px;
      text-transform: capitalize;
      font-size: $font-size-h5;
      &:hover {
        background-color: $lila;
      }
    }
  }
}

.femsenior-navbar {
  background-color: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  .nav-link {
    color: white;
    text-transform: capitalize;
    font-size: $font-size-h5;

    &:hover {
      color: #d4d4d4;
    }
  }
}
