@import "../../scss/Variables.scss";

.carousel-container {
  background-color: $lightLila2;
  padding: 1.25rem;
  border-radius: 1.5rem;
  text-align: center;
  color: $light;
  max-width: 80rem;
  margin: auto;
  margin-top:6rem;
  height: 29rem;
  box-shadow: 0.313rem 0.313rem 0.625rem #00000033;
  



  h2 {
    font-family: $font-family-title;
    font-size: $font-size-h3;
    color: white;
    margin-top:2rem;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    overflow: hidden;

    .prev,
    .next {
      background: none;
      border: none;
      font-size: 3.75rem;
      color: $white;
      cursor: pointer;
    }

    .carousel-slides {
      display: flex;
      flex-direction: row;
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      -ms-overflow-style: none;  
      scrollbar-width: none; 
      height: 18rem;
      align-items: center;
      
      .carousel-slides::-webkit-scrollbar {
        display: none;             // Ocultar en Chrome, Safari y Opera
      }

      .slide {
        flex: 0 0 auto;
        width: 15rem;
        margin: 0 15px;
        text-align: center;
        transition: opacity 0.3s ease;

        .card {
          width: 100%;
          background-color: $white;
          border-radius:  0.9rem 0.9rem 0.9rem 0;
          transition: transform 0.3s ease;
          box-shadow: 0 4px 10px #0000001a;
          overflow: hidden;
          transform-origin: center;

          .card-image {
            width: 100%;
            height: 12rem;
            object-fit: cover;
          }

          .title {
            padding: 1rem;
            font-family: $font-family-title;
            font-size: $font-size-h6;
            font-weight: $font-weight-semibold;
            color: $dark;
            background-color: $white;
          }

          &:hover {
            transform: scale(1.05);
          }
        }

        &.active .card {
          opacity: 1;

        }

        .prev, .next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          border: none;
          cursor: pointer;
          padding: 0.5rem;
          z-index: 1;
        }
      }
    }
  }
}
