@import "../../scss/Variables";

.carousel-container {
  background-color: $lila;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: $light;

  h2 {
    font-family: $font-family-title;
    font-size: $font-size-h2;
    color: white;
    margin-bottom: 20px;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .prev,
    .next {
      background: none;
      border: none;
      font-size: 50px;
      color: $light;
      cursor: pointer;
    }

    .carousel-slides {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: hidden;
      width: 80%;
      justify-content: center;

      .slide {
        min-width: 200px;
        margin: 0 15px;
        text-align: center;

        .card {
          width: 100%;
          height: 150px;
          background-color: $light;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.5;
          transition: opacity 0.5s ease, transform 0.5s ease;

          .card-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .title {
          margin-top: 10px;
          font-family: $font-family-title;
          font-size: $font-size-h5;
          font-weight: $font-weight-semibold;
          color: $dark;
        }

        &.active .card {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}
