@import "../../scss/Variables.scss";

.intro {
  max-width: 90rem;
  margin: auto;
  padding: 0 3rem;
}

.introContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding: 1.5rem;
}

.introTitle {
  @include title-font;
}

.introSubTitle {
  @include title-font;
  font-size: $font-size-h2;

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    width: 70%;
    height: 0.01rem;
    right: 0;
    background-color: $dark;
    margin-left: 1rem;
  }
}

.textIntro {
  @include text-font;
  margin-bottom: 25px;
}
.intro {
  .introList {
    list-style-type: disc;
    padding-left: 20px;
    @include text-font;
    margin: auto;
  }

  .introList li {
    margin-bottom: 10px;
  }
}
.bold {
  font-weight: bold;
}
.textIntroFinal {
 @include text-font;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
