@import "../../../scss/Variables.scss";

.popUpWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #bcacd499;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  &__content {
    background-color: $white;
    padding: 3rem;
    border-radius: 0.8rem;
    width: 90%;
    max-width: 55rem;
    max-height: 90vh;
    position: relative;
    box-shadow: 0px 15px 30px #0000001a;
    color: $dark;
    margin: 2rem 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none; // Esconde la barra de scroll en Chrome, Safari y Edge
    }

    scrollbar-width: none;

    &__close {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      background: none;
      border: none;
      cursor: pointer;

      &__icon {
        width: 2rem;
        height: 2rem;
      }

      
    }

    &__title {
      font-family: $font-family-title;
      font-size: $font-size-h4;
      font-weight: $font-weight-bold;
      text-align: center;
      margin: 1.25rem 0 1.75rem 0;
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__text {
        font-family: $font-family-title;
        font-size: 1rem;
        line-height: 1.6;
        color: $dark;
        margin-bottom: 1.5rem;
      }
    }
  }
}
