@import "../../../scss/Variables.scss";

.tabButtonContainer {
  background-color: $lila;
  border-radius: 0.9rem 0 0 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 2.5rem;
  height: 7.5rem;
  margin: 0;

  &__editButton {
    &__editIcon {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }

  &__separator {
    width: 80%;
    height: 0.06rem;
    background-color: $light;
  }

  &__deleteButton {
    &__deleteIcon {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }
}
