@import "../../../scss/Variables.scss";

.formBackGround {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(144deg, #c1c5f9 5%, #4248e5, #c1c5f9 120%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .formBox {
    width: 100%;
    max-width: 58rem;
    padding: 3rem 3rem 4.5rem 3rem;
    background-color: white;
    margin: auto;
    border-radius: 1.25rem;
    position: relative;
    transition: all 0.5s ease-out;

    @media (max-width:1024px) {
      width: 100%;
      padding: 3rem 3rem 4rem 3rem;
    }
    @media (max-width:720px) {
      width:100%;
      padding: 3rem 2rem 4rem 2rem;
    }
    @media (max-width: 480px){
      width: 100vW;
      border-radius: 5rem 0 0 0;
      margin-top: 12%;
      padding-top: 2rem;
    }

    .buttonExit {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      cursor: pointer;
      transition: all 0.5s ease-out;

      img {
        width: 2rem;
      }
      @media (max-width: 480px){
        position: absolute;
        right:  1.25rem;
        top:  -2.5rem;
        filter: brightness(0) invert(1);
        }
    }
    .requestTitle {
      text-align: center;
      font-family: $font-family-title;
      font-size: $font-size-h5;
      font-weight: $font-weight-bold;
      padding-bottom: 2rem;
      color: $purple;
      transition: all 0.5s ease-out;

      @media (max-width: 480px){
        font-size: $font-size-h6;
        position: absolute;
        left: 50%;
        top: -2.5rem;
        transform: translateX(-50%);
        color: white;
        }
    }

    .buttonBox {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      
      @media (max-width:720px) {
        flex-direction: column-reverse;
    }
    }

    .errorText {
      @include errorTextForm
    }
  }
}
