@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

// Colors

$white:#FFFFFF;
$lightTurquose: #97f5ec;
$turquose: #39dfe6;
$light: #dddeff;
$lightLila: #b6b8ff;
$lightLila2: #8D91FF;
$lila: #7176f8;
$purple: #35399b;
$dark: #090d6d;


// Typography

$font-family-title: "Poppins", sans-serif;
$font-family-text: "Source Sans 3", sans-serif;

$font-size-h1: 45px;
$font-size-h2: 34px;
$font-size-h3: 30px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h6: 16px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

*{
    margin:0;
    padding:0;
}