* {
  transition: none !important;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reversoGradient {
  background: linear-gradient(
    144deg,
    rgba(227, 255, 252, 1) 0%,
    rgba(151, 245, 236, 1) 30%,
    rgba(113, 118, 248, 1) 80%,
    rgba(151, 245, 236, 1) 130%
  );
  background-size: 100% 35%;
  background-repeat: no-repeat;
  width: 100%;
}

.femseniorGradient {
  background: linear-gradient(
    165deg,
    rgba(227, 255, 252, 1) 0%,
    rgba(113, 118, 248, 1) 25%,
    rgba(69, 42, 207, 1) 45%
  );
  background-size: 100% 35%;
  background-repeat: no-repeat;
  width: 100%;
}

.transparentGradient {
  background-color: transparent !important; 
}

.layoutNavbar {
  z-index: 10;
  position: relative;
  width: 100%;
  max-width: 1440px;
}

.mainContent {
  padding-top: 2rem;
  flex-grow: 1;
  width: 100%;
  max-width: 100vw;
}

.layoutFooter {
  height: 8rem;
  width: 100%;
  margin-top: auto;
  max-width: 1440px;
}
